.fixed-size-image {
  width: 100%;
  height: 400px; /* Aumenta la altura un 50% */
  object-fit: cover;
  border-radius: 15px;
}

.card {
  min-height: 100%; /* Mantiene las tarjetas del mismo tamaño */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  flex-grow: 1;
}

.btn {
  margin-top: auto;
}

/* Aumentar el tamaño de las tarjetas en general */
.col-md-4 {
  max-width: 50%; /* Aumenta el ancho de las tarjetas */
}

@media (min-width: 992px) {
  .col-md-4 {
      max-width: 33.33%; /* Para pantallas grandes */
  }

.pagination .page-link:hover {
    background-color: #f8f9fa; /* Color de fondo en hover */
    border-color: #dee2e6;
}
.pagination .page-link {
  padding: 0.3rem 0.6rem; /* Tamaño pequeño */
  font-size: 0.875rem;
}
.pagination .page-item {
  margin: 0 0.1rem; /* Espacio entre los elementos */
}
.diagonal{
  transform: rotate(-45deg); /* Inclina el elemento en 45 grados */
  transform-origin: center; /* Punto de rotación en el centro */
  font-size: 2rem; /* Aumenta el tamaño del texto */
  padding: 0.5rem 2rem; /* Agrega espacio interno para que sea más grande */
  position: absolute; /* Asegura la posición relativa al contenedor */
  top: 30%; /* Baja el elemento para cruzar diagonalmente */
  left: -23%; /* Desplaza hacia la izquierda para cubrir el contenedor */
  width: 140%; /* Aumenta el ancho para cruzar de esquina a esquina */
  display: flex; /* Activa Flexbox para centrar el texto */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center; /* Asegura el centrado del texto */
  z-index: 10; /* Asegura que esté encima de otros elementos */
}
/* HAce que no salga el span para afuera del card */
.nosalir{
  overflow: hidden; /* Previene que el contenido salga del contenedor */
  position: relative; /* Necesario para posicionar elementos dentro */
}
}